# Node modules
/node_modules/

# Logs
*.log
logs/

# Environment files
.env
.env.local
.env.development
.env.production
.env.test

# Temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directory for build outputs
/dist
/build

# IDE/Editor specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific files
.DS_Store
Thumbs.db

# Coverage folder for test coverage reports
/coverage

# package-lock.json or yarn.lock (optional but good to include if you want to lock versions)
package-lock.json
yarn.lock
